<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/estiloPagina.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
    </style>
</head>

<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="Logotipo Mercado Libre" class="logoMercado"/><br>
        <div>
            <input type="text" placeholder="Buscar productos, marcas" class="text-center">
        </div>
        <br>
        <div class="texto"> <i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito.
        </div>

        <nav>
            <ul>
                <li><a href="/">Ofertas</a></li>
                <li><a href="/">Tiendas Oficiales</a></li>
                <li><a href="/">Vender</a></li>
                <li><a href="/">Ayuda</a></li>
                <br>
                <li><a href="/">Creá tu cuenta <i class="far fa-id-card"></i> </a> </li>
                <li><a href="/">Ingresá <i class="fas fa-sign-in-alt"></i> </a> </li>
                <li><a href="/">Mis Compras <i class="fas fa-shopping-basket"></i> </a> </li>
            </ul>
        </nav>

        <div class="menuContainer">
            <i class="fas fa-bars"></i>
        </div>

    </header>

    <img class="banner" name="banner" src="/images/img-home-banner.jpg" alt="Banner"/>

    <main>
        <div>
            <div>
                <h1> Basado en tu última visita:</h1>
                <div class="products">
                    <article>
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" class="electronicos"
                            height=300px width=300px />
                        <p class="contenido">
                            <i class="fas fa-shipping-fast"></i>
                        <p class="precio">$6.770</p> <br>
                        <p class="ofertas">40% OFF</p> <br>
                        <h2 class="descripciones">Cafetera Moulinex</h2>
                        </p>
                    </article>

                    <article>
                        <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" class="electronicos"
                            height=300px width=300px />
                        <p class="contenido">
                            <i class="fas fa-shipping-fast"></i>
                        <p class="precio">$230.000</p> <br>
                        <p class="ofertas">20% OFF</p> <br>
                        <h2 class="descripciones">MacBook Pro 2019</h2>
                        </p>
                    </article>

                    <article>
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" class="electronicos"
                            height=300px width=300px />
                        <p class="contenido">
                            <i class="fas fa-shipping-fast"></i>
                        <p class="precio">$70.500</p> <br>
                        <p class="ofertas">10% OFF</p> <br>
                        <h2 class="descripciones">Samsung Galaxy S10</h2>
                        </p>
                    </article>

                    <article>
                        <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43pulgadas"
                            class="electronicos" height=300px width=300px />
                        <p class="contenido">
                            <i class="fas fa-shipping-fast"></i>
                        <p class="precio">$23.200</p> <br>
                        <p class="ofertas">5% OFF</p> <br>
                        <h2 class="descripciones">SmartTv Samsung 43"</h2>

                        </p>
                    </article>
                </div>
            </div>

            <div>
                <div>
                    <h1> Sección de Ofertas:</h1>
                    <div class="offerts">
                    <article>
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" class="electronicos"
                            height=300px width=300px />
                        <p class="contenido">
                            <i class="fas fa-shipping-fast"></i>
                        <p class="precio">$6.770</p>   <br>
                        <p class="ofertas">40% OFF</p> <br>
                        <h2 class="descripciones">Cafetera Moulinex</h2>
                        </p>
                    </article>

                    <article>
                        <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" class="electronicos"
                            height=300px width=300px />
                        <p class="contenido">
                            <i class="fas fa-shipping-fast"></i>
                        <p class="precio">$230.000</p> <br>
                        <p class="ofertas">20% OFF</p><br>
                        <h2 class="descripciones">MacBook Pro 2019</h2>
                        </p>
                    </article>

                    <article>
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" class="electronicos"
                            height=300px width=300px />
                        <p class="contenido">
                            <i class="fas fa-shipping-fast"></i>
                            <br>
                        <p class="precio">$70.500</p> <br>
                        <p class="ofertas">10% OFF</p> <br>
                        <h2 class="descripciones">Samsung Galaxy S10</h2>
                        </p>
                    </article>

                    <article>
                        <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43pulgadas"
                            class="electronicos" height=300px width=300px />
                        <p class="contenido">
                            <i class="fas fa-shipping-fast"></i><br>
                            <br>
                        <p class="precio">$23.200</p> <br>
                        <br>
                        <p class="ofertas">5% OFF</p> 
                        <br>
                        <h2 class="descripciones">SmartTv Samsung 43"</h2>
                        <br>
                        </p>
                    </article>
                    </div>
                </div>
    </main>

    <footer class="pie">

        <div>
            <div class="icon">
                <i class="fas fa-credit-card"></i>
            </div>
            <h3> Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p> <br>
        </div>

        <div>
            <div class="icon">
                <i class="fas fa-gift"></i>
            </div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p> <br>
        </div>

        <div>
            <div class="icon">
                <i class="fas fa-user-shield"></i>
            </div>
            <h3> Pagá con tarjeta o en efectivo</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer porque estás siempre
                protegid@.</p> <br>
        </div>

        <div>
            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5> <br>
        </div>

    </footer>

</body>

</html>